/*
background-colors:
  1. coral: #f26a6b
    alt shades (dark - light):
      #fe8483
      #fd9595
      #fca6a7
      #fcb3b3
      #fac0bf
      #f9cbcb
      #f9d8d8
  2. grey: #f6f6f6
  3. toap (for box background color): #eae9e7
  4. font-color: #343434
  5. dark-grey: #0a0a0a
df */


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body {
  background-image: linear-gradient(265deg, #fcb69f, #feada6);

  background-image: linear-gradient(275deg, #fdfbfb 0%, #f6f8fe 100%);
  margin: 1em;
  font-family: "Open Sans";
  font-color: #343434;
}

.navbar {
  text-align: center;
  padding: 1em;
  margin: 1em;
  font-size: 14px;
  font-weight: 520;
  text-transform: uppercase;
}

.navLink {
  margin: 0 1.25em;
  padding: 0.25em 0.5em;
}

.landingPage {
  text-align: center;
  background-color: #fe8483;
}

.myName {
  font-size: 36px;
  font-weight: 700;
}

.myHeadline {
  font-size: 16px;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 500px;
}
/*
linear-gradient(to left, #eb3349, #f45c43) */
